@import 'src/scss/theme.scss';

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background: transparent;
  z-index: 99999;
  opacity: 0;
  @include transition-mixin(all, 1s);

  &.visible {
    opacity: 1;
    @include transition-mixin(opacity, 1s);
  }

  &:after {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .9;
    display: block;
    background: #fff;
  }

  .overlay-content {
    display: block;
    width: max-content;
    height: max-content;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    .overlay-text {
      display: block;
      font-size: 18px;
      position: relative;
      top: 50px;

      &.overlay-text-success {
        top: 10px;
        font-size: 22px;
      }
    }
  }
}