@import 'src/scss/theme.scss';

.avaliacao {
    margin: 0;

    span { 
        svg * {
            color: transparent;
            background-color: transparent;
            color: #ccc;
        }

        &.estrela-ativa {
            svg * {
                fill: #fff;
                color: transparent;
            }
        }
    }


}