@import 'src/scss/theme.scss';

.schedules-box {
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
  
  table {
    width: auto;

    thead {
      tr {
        border-bottom: 2px solid $primaryLight;
      }
    }

    tr {
      display: flex;
      align-items: center;
      border-bottom: 1px solid $muted;
      
      td, th {
        text-align: left;

        &:first-child {
          width: 65px;
          text-align: center;
        }

        &:nth-child(2) {
          width: 105px;
        }

        &:nth-child(3) {
          width: 110px;
        }

        &:nth-child(4) {
          width: 110px;
        }

        .time-select {
          width: 75px;
          margin-top: 0;
          padding-top: 0;
          display: inline-block;

          .v-text-field__details {
            display: none;
          }
        }
      }
    }
  }
}

@media all and (max-width: 599px) {
  .schedules table tr {
    td, th {
      &:nth-child(2) { width: 50px; }
    }
  }
}