@import 'src/scss/theme.scss';

.app-breadcrumb {
  .v-breadcrumbs__item {
    color: $primary;
    font-weight: 500;
    
    &.v-breadcrumbs__item--disabled {
      color: lighten($color: $primaryLight, $amount: 10);
      font-size: 18px;
    }
  }
}