@import 'src/scss/theme.scss';

#admin-template {
  .v-list { background: transparent !important; }
}

.admin-register-content {
  height: calc(100vh - 150px);
  .btn-register {
    width: auto;
  }
}

@media all and (min-width: 960px) {
  nav#menu-lateral + header + .main,
  nav#menu-lateral ~ .app-footer {
    padding-left: 100px !important;
    @include transition-mixin (all, .5s);
  }

  nav#menu-lateral + header + .main {
    padding-top: 64px !important;
  }
  
  nav#menu-lateral.open + header + .main,
  nav#menu-lateral.open ~ .app-footer {
    padding-left: 250px !important;
    @include transition-mixin (all, .5s);
  }

  nav#menu-lateral.open + header + .main {
    padding-top: 64px !important;
  }
}

@media all and (max-width: 959px) {
  main {
    padding-top: 40px !important;
    padding-bottom: 56px !important;
  }
}