@mixin border-radius-mixin ($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadown-completo-mixin ($string) {
    -webkit-box-shadow: $string;
    -moz-box-shadow: $string;
    box-shadow: $string;
}

@mixin box-shadown-mixin ($opacidade) {
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,$opacidade);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,$opacidade);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,$opacidade);
}

@mixin text-ellipsis ($linhas, $fontSize) {
    display: -webkit-box;
    align-items: center;
    height: ($fontSize + 8px) * $linhas;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: $fontSize;
    line-height: 1.1;
    -webkit-line-clamp: $linhas;
    -webkit-box-orient: vertical;
}

@mixin transition-mixin ($propriedade, $tempo) {
    -webkit-transition: $propriedade $tempo; /* Safari prior 6.1 */
    transition: $propriedade $tempo;
}